@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-infinite-scroll {
    animation: scrollInfinite 20s linear infinite; 
}
@keyframes scrollInfinite {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%)
    }
}